@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin: 0;
}

h1 {
  margin: 0;
  top: 1px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.container {
  position: right;
  padding: 50px;
}

.btn {
  cursor: pointer;
  margin: auto;
  top: 20%;
  background-color: grey;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 8px;
  position: absolute;
  top: 45px;
  right: 16px;
  margin-right: 3%;
  font-family: "Montserrat", serif;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus,
select:focus {
  outline: 0;
}

.text-box {
  width: 70%;
  position: absolute;
  top: 20%;
  font-family: "Montserrat";
  left: 50%;
  border-radius: 10%;
  transform: translate(-50%, -800px);
  background-color: grey;
  color: #fff;
  padding: 70px;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.text-box.show {
  transform: translate(-50%, 0);
}

.text-box select {
  background-color: white;
  border: 0;
  color: black;
  font-size: 12px;
  height: 30px;
  width: 100%;
}

.text-box textarea {
  border: 1px #dadada solid;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  margin: 15px 0;
  width: 100%;
  height: 150px;
}

.text-box .btn {
  width: 10%;
  background-color: black;
  position: relative;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  margin-left: 340px;
}

.text-box .close {
  float: right;
  text-align: right;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.box {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: box-shadow 0.2s ease-out;
}

.box img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.box .infoplay {
  background-color: darksalmon;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 100px;
  border-radius: 10%;
  text-align: center;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.box :hover {
  transform: scale(0.95);
}

.box .infotreat {
  background-color: #8aa574;
  color: #fff;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 100px;
  border-radius: 10%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box .infochew {
  background-color: #8c9dad;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 100px;
  border-radius: 10%;
  text-align: center;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.box .infopotty {
  background-color: #d39286;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 100px;
  border-radius: 10%;
  text-align: center;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.box .infonap {
  background-color: #a17f72;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 100px;
  border-radius: 10%;
  text-align: center;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.box .infogooutside {
  background-color: #bebebe;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding: 91px;
  border-radius: 10%;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.box .infopetme {
  background-color: #d8bc70;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 90.14px;
  border-radius: 10%;
  text-align: center;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.box .infoloveyou {
  background-color: #a9959e;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 90px;
  border-radius: 10%;
  text-align: center;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

@media (max-width: 1100px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 760px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  main {
    grid-template-columns: 1fr;
  }
}
